/*#headercarousel {
    margin:100px 50px 50px 50px ;
}
#myCarousel {
    margin:100px 50px 50px 50px ;

}*/
.bg-img  {
    background-color: #000;
    width: 100%;
    height: 500px;
   
}

.footer {
    margin-top: 150px;
}